@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&display=swap");
.titulos {
  color: #f0c693;
}

.palabras, .titulos {
  color: beige;
}

.form-label {
  color: #edf5a5;
  font-size: 20px;
}

.palabras, .titulos {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.titulos {
  font-family: 'Dancing Script', cursive;
}

body {
  background-color: #1f1f1f;
}

* {
  padding: 0px;
  margin: 0px;
}

/* ---------Barra de Navegacion del menu -----------*/
.logo {
  width: 80px;
  height: auto;
  padding-left: 30px;
  padding-right: 10px;
}

.logo img {
  width: 80px;
  height: auto;
}

#text-menu {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  color: beige;
}

.contenedor-navegacion {
  padding-left: 570px;
}

.barra-navegacion li {
  padding-inline: 15px;
}

/* ---------ENCABEZADO Y COLUMNAS -----------*/
.encabezado {
  text-align: center;
  color: #f0c693;
}

#iconos {
  font-size: 30px;
  color: #f0c693;
}

#map {
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 220px;
}

#columnas {
  text-align: center;
  padding: 40px;
}

#columnas h4 {
  padding: 10px;
}

.redes-sociales {
  text-align: center;
}

.redes-sociales a {
  text-decoration: none;
}

.redes-icon {
  padding: 15px;
  color: #f0c693;
  font-size: 35px;
}

/* ----------------------FORMULARIO-------------------------- */
h4 {
  text-align: center;
  padding: 10px;
}

.form-container {
  padding-bottom: 30px;
}

.formulario {
  margin-left: 400px;
  margin-right: 400px;
  padding: 25px;
  text-align: center;
}

#link a {
  text-decoration: none;
}

/* ---------PIE DE PAGINA  -----------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #080808;
  padding-top: 15px;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
}

.foot-logo {
  padding: 20px;
}

.foot-logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

#donmatute {
  color: beige;
  font-size: 23px;
  font-style: italic;
}

.medida-icono {
  padding: 8px;
  font-size: 25px;
  color: beige;
}

#foot-texto {
  padding-top: 5px;
  padding-bottom: 5px;
  color: beige;
  font-family: 'Open Sans', sans-serif;
}

.col a {
  color: beige;
}

.foot-columna {
  text-align: center;
}

/* ---------RESPONSIVE -----------*/
@media (max-width: 992px) {
  .contenedor-navegacion {
    padding-left: 30px;
  }
  .barra-navegacion li {
    padding-inline: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .formulario {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* ---------768px -----------*/
@media (min-width: 768px) {
  .pantalla-chica {
    display: none;
  }
}

@media (max-width: 768px) {
  .formulario {
    margin: 80px;
    margin: 80px;
  }
  .pantalla-grande {
    display: none;
  }
  /* ---------PIE DE PAGINA  -----------*/
  .footer {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot-nav {
    padding-bottom: 10px;
  }
}

/* ---------576px -----------*/
@media (max-width: 576px) {
  #columnas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot-logo img {
    margin-right: 0px;
  }
  .pantalla-grande {
    display: none;
  }
  .col-responsive {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/*# sourceMappingURL=contacto.css.map */