@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;1,500&display=swap");
* {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.fondo {
  background-color: #050505;
}

* {
  margin: 0px;
  padding: 0px;
}

.logo-img {
  margin-left: 60px;
  width: 40px;
  height: auto;
}

.contenedor-navegacion {
  padding-left: 150px;
}

.barra-navegacion li {
  padding-inline: 35px;
}

.contenedor-navegacion ul li:hover {
  background-color: #f0b971;
  border-radius: 6rem;
}

#text-menu {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  color: beige;
}

#link a {
  text-decoration: none;
}

/* ---------RESPONSIVE -----------*/
@media (max-width: 992px) {
  .contenedor-navegacion {
    padding-left: 35px;
  }
  .barra-navegacion li {
    padding-inline: 30px;
  }
}

@media (max-width: 768px) {
  .contenedor-navegacion {
    padding-left: 35px;
  }
  .barra-navegacion li {
    padding-inline: 30px;
  }
}

.encabezado {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #f0c693;
  padding: 150px;
  background-image: url(../img/35.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*--------- CONTENEDOR FLEX UNO ---------- */
.banner {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-style: italic;
  padding-left: 9rem;
  padding-bottom: 3rem;
  text-align: center;
  color: bisque;
}

.contenedor-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#parrafo {
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: bisque;
  word-spacing: 4px;
  line-height: 40px;
}

.contenedor-fotografia img {
  width: 100%;
}

/*--------- CONTENEDOR FLEX DOS ---------- */
.contenedor-flex-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner-productos {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  padding-right: 9rem;
  text-align: center;
  color: bisque;
  font-size: 60px;
  padding-bottom: 3rem;
}

.parrafo-productos {
  text-align: center;
  font-size: 20px;
  padding-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: bisque;
  word-spacing: 4px;
  line-height: 50px;
}

#productos-img {
  width: 400px;
  height: 500px;
}

/*---------CIERRE CONTENEDORES---------- */
/* ---------PIE DE PAGINA  -----------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding-top: 15px;
}

.footer li {
  list-style: none;
}

.footer li a:hover {
  padding: 8px;
  background-color: #f0b971;
  border-radius: 2rem;
  color: black;
}

.footer a {
  text-decoration: none;
}

.foot-logo {
  padding: 20px;
}

.foot-logo img {
  margin-right: 10px;
  width: 50px;
  height: auto;
}

#donmatute {
  color: bisque;
  font-size: 23px;
  font-style: italic;
}

.medida-icono {
  padding: 8px;
  font-size: 25px;
  color: beige;
}

.medida-icono:hover {
  color: #ffbb67;
}

#foot-texto {
  padding-top: 5px;
  padding-bottom: 5px;
  color: beige;
  font-family: 'Open Sans', sans-serif;
}

.col a {
  color: beige;
}

.foot-columna {
  text-align: center;
}

/* ---------RESPONSIVE-----------*/
@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot-nav {
    padding-bottom: 10px;
  }
}

/* ---------576px -----------*/
@media (max-width: 576px) {
  .foot-logo img {
    margin-right: 5px;
  }
}

/*-------------------------------------------RESPONSIVE-------------------------------------------------*/
@media (max-width: 768px) {
  /* ---------NOSOTROS  -----------*/
  .contenedor-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner {
    padding: 10px;
  }
  /* --------NUESTROS PRODUCTOS -----------*/
  .contenedor-flex-productos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner-productos {
    padding: 10px;
  }
  .parrafo-productos {
    padding: 10px;
  }
}
/*# sourceMappingURL=Nosotros.css.map */