/* FONDO DE LA PAGINA  */
.fondo{background-color: #585454;}
*{ padding:0px;
margin:0px;
}
/* ---------BARRA DE NAVEGACION MENU PRINCIPAL-----------*/
.logo-barra { display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: black;}
    
    .logo{grid-area: logo;
    padding-left: 10px;
    width:80px;
    height:80px ;}
    
    .barra {margin-right: 10px;
    grid-area: barra; 
    }
    .barra a {text-decoration: none;
    color: rgb(228, 222, 222);
    font-family: 'Courgette', cursive}
    .barra li {
    text-decoration: none;
    text-align: right;
    font-size: 17px;
    display: inline-block;
    padding: 0.6rem;
    border-radius:1rem;
    }
    .barra li:hover {background-color: rgb(119, 114, 114);
    
    }
    
/* ---------BARRA DE NAVEGACION PEDIDO -----------*/
.variedad{
background:  linear-gradient(to bottom, #050505 0%, #c0c0c0 51%, #585454  100%);
display: flex;
justify-content: center;}
.variedad li {
text-decoration: none;
text-align: left;
display: inline-block;
padding:0.5rem;
font-family: 'Courgette', cursive;
border-radius:1rem;
}
.variedad a {
text-decoration: none;
color: rgb(20, 20, 19);}
.variedad li:hover {
background-color: rgb(119, 114, 114)}



/* ---------Tipografias -----------*/
h2 { font-family: 'Corinthia', cursive;
text-align: center;
font-size:  50px;
}

h3 {font-family: 'Courgette', cursive;
text-align: center;
}

h4{  font-family: 'Courgette', cursive;
text-align: center;}

p {
font-family: 'Comic Neue', cursive;
text-transform: lowercase;}

/* ----------------------imagenes-------------------------- */

.pizzafoto1 
{width: 96px;
height: 96px;
}
.calzonefoto
{width: 96px;
height: 96px ;}

.empanadasfoto  {width: auto;
height: 96px ;
}

.fotobebida  {width: auto;
height: 96px ;
}
.fotobebida-litro {height: 96px;
width:auto;}

.postrefoto 
{width: 115px;
height: 110px ;
}
.heladofoto { width: 130px;
height: 110px;}

/*
.pizzafoto:hover
{transform: scale(2.2);}
.pizzafoto1:hover
{transform: scale(2.2);}
.calzonefoto:hover
{transform: scale(2.2);}
.fotobebida:hover
{transform: scale(2.2);}
.postrefoto:hover
{transform: scale(2.2);}
.empanadasfoto:hover 
{transform: scale(2.2);}
.heladofoto:hover  
{transform: scale(2.2);}
*/

/* ---------------------- CONTENEDORES-------------------------- */

.contenedor-clasicas {
display:grid;
grid-template-columns: auto auto auto   ;
list-style: none;
font-family: 'Courgette', cursive;
}

.contenedor-clasicas img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}


.elemento1 {
display: flex ;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
text-align: justify;}

/* ---------------------- pizzas especiales-------------------------- */

.elemento {text-align: center;
display: flex ;
justify-content: space-evenly;
align-items: stretch;
flex-direction: column;
flex-wrap: wrap;
align-content: space-around;}


.contenedor-especiales {
display:grid;
grid-template-columns: auto auto auto ;
font-family: 'Courgette', cursive ;
list-style: none;
}
.contenedor-especiales img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}
/* ---------------------- EMPANADAS -------------------------- */

.contenedor-empanadas {
display:grid;
grid-template-columns: auto auto auto  ;
grid-template-rows: auto ;
font-family: 'Courgette', cursive ;
list-style: none;
}

.elemento-empanadas {text-align: center;
} 

.contenedor-empanadas img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}

/* ---------------------- CALZONES-------------------------- */

.contenedor-calzon {
display:grid;
grid-template-columns: auto auto auto ;
font-family: 'Courgette', cursive ;
list-style: none;
margin-bottom: 25px;
margin-left: 6rem;
}

.contenedor-calzon img  {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 8rem ;
margin: 0px ;
padding: 0px;
}

/* ---------------------- bebidas-------------------------- */

.contenedor-latas {
display:grid;
grid-template-columns: auto auto auto auto ;
grid-template-rows: auto ;
font-family: 'Courgette', cursive ;
list-style: none;
margin-bottom: 25px;
}


.contenedor-latas img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}


.contenedor-medio {
display:grid;
grid-template-columns: auto auto auto auto ;
grid-template-rows: auto auto auto;
font-family: 'Courgette', cursive ;
list-style: none;
margin-bottom: 25px;
}


.contenedor-medio img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}

.contenedor-litro {
display:grid;
grid-template-columns: auto auto auto auto ;
grid-template-rows: auto auto auto;
font-family: 'Courgette', cursive ;
list-style: none;
margin-bottom: 25px;
justify-content: stretch;
}

.contenedor-litro img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}

.cervezas  {
display:grid;
grid-template-columns: auto auto auto auto  ;
grid-template-rows: auto auto auto;
font-family: 'Courgette', cursive ;
list-style: none;
margin-bottom: 25px;
margin-left: 15px;

}
.cervezas img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}

.vinos {list-style: none; 
font-family: 'Courgette', cursive;
text-align: center;}
.vinos img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 6rem ;
margin: 0px ;
padding: 0px;
}
/* ----------------------POSTRES-------------------------- */

.bombones  {
display:grid;
grid-template-columns: auto auto auto  ;
font-family: 'Courgette', cursive ;
list-style: none;
margin-bottom: 25px;
justify-content: space-evenly;
text-align: center;
}

.bombones img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 12rem ;
padding: 0px; 
margin-bottom: 4px;
margin-top: 4px;
}
.helados  {
display:grid;
grid-template-columns: auto auto auto auto  ;
font-family: 'Courgette', cursive ;
list-style: none;
margin-bottom: 25px;
text-align: center;
}

.helados img {border: 3px solid rgb(206, 206, 206) ; 
border-radius: 12rem ;
padding: 0px; }

/* ----------------------Pie de pagina-------------------------- */
.boton  {background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB  51%, #403B4A  100%)}
.boton {
width: 80px;
margin: 5px;
padding: 10px 25px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: rgb(10, 10, 10);            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
}

.boton:hover {
background-position: right center; 
color: #fff;
text-decoration: none;
}

.footer 
{display: flex;
align-items: center;
padding-right: 30px;
padding-top: 5px;

}
.footer img {padding-inline: 15px;
width: 25px;
height: auto;
}
.foot-img {margin-left: 10px;}
#donmatute {margin-left: 20px;
text-align: center;}

.foot-menu li {list-style: circle;
margin-left: 40rem;
}
.foot-menu a {text-decoration: none;
color: #000;}


.formulario {display: flex;
    flex-direction: column;
}
.formulario input {width: 300px;}
/* ---------RESPONSIVE -----------*/

@media screen and (max-width: 768px) {
.contenedor-clasicas {grid-template-columns: auto  ;}
.contenedor-especiales {grid-template-columns: auto  ;}
.contenedor-calzon {grid-template-columns: auto  ;}
.contenedor-empanadas {grid-template-columns: auto  ;}
.contenedor-latas {grid-template-columns: auto  ;}
.contenedor-medio {grid-template-columns: auto  ;}
.contenedor-litro{grid-template-columns: auto  ;}
.cervezas {grid-template-columns: auto ;}
.bombones{grid-template-columns: auto  ;
padding-left: 100px;}
.helados {grid-template-columns: auto  ;}
}