
*{margin: 0px;
padding: 0px;}


.logo-img { margin-left: 60px;
width: 60px;
height: auto;}

.contenedor-navegacion {
padding-left: 150px;}

.barra-navegacion li {padding-inline: 35px;}

#text-menu {font-family:'Open Sans', sans-serif;
text-align: center;
font-style: italic;
text-decoration: none;
color: beige;
}

#link a  {text-decoration: none;}

/* ---------RESPONSIVE -----------*/

@media (max-width: 992px) {

    .contenedor-navegacion {
        padding-left: 0px;}
        
        .barra-navegacion li {padding-inline: 65px;}
        }


@media (max-width: 768px) {

.contenedor-navegacion {
padding-left: 0px;}

.barra-navegacion li {padding-inline: 65px;}

}
