
*{margin: 0px;
padding: 0px;}


.logo-img { margin-left: 60px;
width: 40px;
height: auto;
margin-right: 200px;
}

.navbar li {padding-inline: 30px;
}
.navbar .nav-link{   border-bottom: 2px;}
.navbar .nav-link:hover {border-bottom: 2px solid beige;

}

.nav-link.active { border-bottom: 2px solid $color-titulos !important;
color: $color-titulos !important ;}

#text-menu {font-family:$font-textos;
text-align: center;
font-style: italic;
text-decoration: none;
color: beige;
}


/* ---------RESPONSIVE -----------*/

@media (max-width: 992px) {

.navbar li {padding-left: 65px;}


.barra-navegacion li {padding-inline: 30px;}
}


@media (max-width: 768px) {



.barra-navegacion li {padding-inline: 30px;}

}
