@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;1,500&display=swap');
@import "variables";


body {padding: 0px;
margin: 0px;
background-color: rgb(7, 7, 7);
overflow-x: hidden;
}

/* ---------TIPOGRAFIAS-----------*/

.titulos { font-family: $font-titulos;
color: $color-titulos;
text-align: center;
font-size: 25px;
padding: 10px;}
.palabras {font-family:$font-textos;
color: $color-textos;
padding: 2px}



/* ---------Barra de Navegacion del menu -----------*/
@import "navbar";





/* ---------ENCABEZADO Y COLUMNAS -----------*/
.encabezado { padding: 150px;
text-align: center;
color:$color-titulos;
font-family: 'Dancing Script', cursive;
background-image: url(../img/33.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

#iconos {
font-size: 30px;
color: rgb(240, 198, 147);
}


#columnas {text-align: center;
padding: 40px;
}


.redes-sociales {text-align: center;
a {text-decoration: none;
}

}
.redes-icon{padding: 15px;
color: beige;
font-size: 35px;}
.redes-icon:hover {color:rgb(240, 198, 147) ;}

/* ----------------------FORMULARIO-------------------------- */


.form-container { padding-bottom: 30px;}

.formulario 
{margin-left: 400px;
margin-right: 400px;
padding: 25px;
text-align: center;
}
.form-label {color:$color-textos;
font-family: $font-textos}

/* ---------PIE DE PAGINA  -----------*/
@import "footer";


/* ---------RESPONSIVE -----------*/


@media (min-width: 768px ) and  (max-width: 1200px )  {

.formulario {margin-left: 100px;
margin-right: 100px;}
}


/* ---------768px -----------*/

@media (min-width: 768px) {
.pantalla-chica {display: none;}

}
@media (max-width: 768px) {

.formulario {margin: 80px;
margin: 80px;}

.pantalla-grande {display: none;
}

}

/* ---------576px -----------*/
@media (max-width: 576px) { 

#columnas {
flex-direction: column;
}
.pantalla-grande {display: none;}

.col-responsive {
padding-top: 5px;
padding-bottom: 5px;}

}