/* FONDO DE LA PAGINA  */
body {background-color: black;
    overflow-x: hidden;}
.back-img {background-image: url(../img/hacerpedido/Diseño\ sin\ título.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment:fixed;}

*{ padding:0px;
margin:0px;
}
.boton {
font-size: 20px;
color: red ;
padding: 25px ;
cursor: pointer ;
background-color: beige
}





/* ---------BARRA DE NAVEGACION MENU PRINCIPAL-----------*/
.logo-img { margin-left: 60px;
width: 40px;
height: auto;}

.contenedor-navegacion {
padding-left: 150px;}

.barra-navegacion li {padding-inline: 35px;}
.contenedor-navegacion ul li:hover { background-color: rgb(240, 185, 113);
border-radius: 6rem;}

.titulo {font-family: 'Dancing Script', cursive;
font-size:  50px; 
text-align: center;
padding: 150px;
color: black;
background-image: url(../img/hacerpedido/banner-menu.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}


/* ---------BARRA DE NAVEGACION PEDIDO -----------*/
#menu-item {font-family:'Open Sans', sans-serif;}

.menu-navegacion {justify-content: center} 

.menu-navegacion li {padding-inline: 50px;}


/* ---------------------- PIZZAS-------------------------- */
#pizza-img {background-image: url(../img/hacerpedido/mozza.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#pizza-img-dos {background-image: url(../img/hacerpedido/pizza_napolitana_32625_orig.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#pizza-img-tres {background-image: url(../img/hacerpedido/pizza-jamon-y-morron.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}


#pizza-img-cuatro {background-image: url(../img/hacerpedido/rucula-y-parmesano.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#pizza-img-cinco {background-image: url(../img/hacerpedido/pizzadecancha.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}



/* ---------Tipografias -----------*/
.palabras{ text-align: center;
padding:15px;
align-items: center;
list-style-type: none;
font-size: 20px;
font-family: 'Dancing Script', cursive;
color: beige;
}


.text-lista {text-align: center;
    padding:15px;
    align-items: center;
    list-style-type: none;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    color: beige;
}


p { text-align: start;
font-family: 'Open Sans', sans-serif;
text-transform: lowercase;
color: beige;
font-size: 15px;
padding-left: 10px;
padding-bottom: 5px;}



/* ---------------------- EMPANADAS-------------------------- */
#empanada-img-uno{background-image: url(../img/hacerpedido/empanadas-1-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#empanada-img-dos{background-image: url(../img/hacerpedido/empanadas-2-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#empanada-img-tres{background-image: url(../img/hacerpedido/empandas-3-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

.empanada:hover {background-color: rgb(18, 18, 18);
}



/* ---------------------- POSTRES-------------------------- */

.postre-img {background-image: url(../img/hacerpedido/helados1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.postre-img-dos {background-image: url(../img/hacerpedido/helados2.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.postre-img-tres {background-image: url(../img/hacerpedido/helados3.JPG);
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}

/* ---------PIE DE PAGINA  -----------*/
.footer 
{display: flex;
align-items: center;
background-color: rgb(0, 0, 0);
padding-top: 15px;
} 
.footer li {list-style:none;

}
.footer a {text-decoration: none;
}
.footer li a:hover {padding: 8px;
background-color: rgb(240, 185, 113);
border-radius: 2rem;
color: black;
}

.foot-logo {
padding: 20px;}

.foot-logo img {width: 50px;
height: auto;
margin-right: 10px;
}

#donmatute  {color: beige;
font-size: 23px ;
font-style: italic;
}


.medida-icono{padding: 8px;
font-size: 25px;
color: beige;
}

.medida-icono:hover { 
color: rgb(255, 187, 103);
}

#foot-texto {padding-top: 5px;
padding-bottom: 5px;
color: beige;
font-family: 'Open Sans', sans-serif; }

.col a {color: beige;}

.foot-columna{
text-align:center;} 



/* -------------------------------------------RESPONSIVE-------------------------------------------------*/

@media (max-width: 992px) {

.contenedor-navegacion {
padding-left: 35px;}

.barra-navegacion li {padding-inline: 30px;}
}




/* ---------768px -----------*/

@media (max-width: 768px) {


/* ---FOOTER ---*/
.footer {margin: 0px;
display: flex;
flex-direction: column;}
.foot-nav {padding-bottom: 10px;}

.foot-logo img { margin-right: 0px;}

}
