
@import "variables" ;


#background {background-image: url(../img/background.jpg);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

//Menu de navegacion 
@import "navbar";


/* ---------SECCION CENTRAL -----------*/

.texto-central { text-align: center;
padding: 300px;
position: center;
}

#pizzeria {color: rgb(187, 190, 9);
font-family:'Open Sans', sans-serif;
font-size: 80px;
}

#don-matute {color:rgb(22, 1, 1);
font-family: 'Dancing Script', cursive;
font-size: 80px;
}

/* ---------PIE DE PAGINA  -----------*/
@import "footer";

/*---------RESPONSIVE -----------*/

@media (max-width: 768px) {

.texto-central{ margin: 0%;
padding: 160px;
}

#pizzeria {
font-size: 50px;
}

#don-matute {
font-size: 50px;
}

}