@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;1,500&display=swap');

* {overflow-x: hidden;
padding: 0px;
margin: 0px;
}

.fondo {background-color: rgb(5, 5, 5);}  

@import "navbar";


.encabezado {text-align: center;
font-family: $font-titulos;
font-size: 25px;
color: $color-titulos;
padding: 150px;
background-image: url(../img/35.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;}

/*--------- CONTENEDOR FLEX UNO ---------- */
.banner {font-family:$font-titulos;
font-size: 60px;
font-style: italic;
padding-bottom: 3rem;
text-align: center;
color: bisque;
}

.contenedor-flex {display: flex;
padding: 50px;
align-items: center;
text-align: center;
}



#parrafo {text-align: center;
font-size: 20px;
padding-left: 20px;
font-family:'Open Sans', sans-serif;
font-style: italic;
color: bisque;
word-spacing: 3px;
line-height: 40px;}

.contenedor-fotografia  img { width: 100%;}




/*--------- CONTENEDOR FLEX DOS ---------- */


.contenedor-flex-productos {display: flex;
padding: 50px;
align-items: center;
text-align: center; 
img {max-height: 490px;}
}

.banner-productos {font-family:$font-titulos;
font-style: italic;
text-align: center;
color: bisque;
font-size: 60px;
padding-bottom: 3rem;
}

.parrafo-productos {text-align: center;
font-size: 20px;
font-family:'Open Sans', sans-serif;
font-style: italic;
color: bisque;
word-spacing: 3px;
line-height: 50px;}




/*---------CIERRE CONTENEDORES---------- */

@import "footer";

/*-------------------------------------------RESPONSIVE-------------------------------------------------*/


@media (max-width: 768px) {
/* ---------NOSOTROS  -----------*/

.contenedor-flex {flex-direction: column;}

.banner {
padding: 10px;
}




/* --------NUESTROS PRODUCTOS -----------*/

.contenedor-flex-productos{flex-direction: column-reverse;}
.banner-productos {
padding: 10px;
}

.parrafo-productos {padding: 10px;
}


}
