/* FONDO DE LA PAGINA  */
@import "variables" ;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;1,500&display=swap');
body {background-color: black;
    overflow-x: hidden;}
.back-img {background-image: url(../img/nuestromenu/background.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment:fixed;}

*{ padding:0px;
margin:0px;
}
.ir-arriba{display: none;
font-size: 15px;
color: rgb(41, 38, 38) ;
padding: 10px ;
cursor: pointer ;
background-color:beige;
border-style: solid;
border-color: black;
position: fixed;
bottom: 2px;
right: 2px;
}



/* ---------BARRA DE NAVEGACION MENU PRINCIPAL-----------*/
@import "navbar";

.titulo {font-family: 'Dancing Script', cursive;
font-size:  50px; 
text-align: center;
padding: 150px;
color: black;
background-image: url(../img/banner-menu-min-min.jpg);
background-size: cover;
background-position:bottom;
background-repeat: no-repeat;
background-attachment: fixed;}


/* ---------BARRA DE NAVEGACION PEDIDO -----------*/
#menu-item {font-family:'Open Sans', sans-serif;}

.menu-navegacion {justify-content:center;
} 

.menu-navegacion li {padding-inline: 20px;}

#tab-icon { width: 25px;
height: 25px;
}

.nav-link {color: beige!important;}
.nav-tabs .nav-link.active { color: black !important ;}
/* ---------------------- PIZZAS-------------------------- */
#pizza-img {background-image: url(../img/nuestromenu/pizzas/mozza.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#pizza-img-dos {background-image: url(../img/nuestromenu/pizzas/pizza_napolitana_32625_orig.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#pizza-img-tres {background-image: url(../img/nuestromenu/pizzas/pizza-jamon-y-morron.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}


#pizza-img-cuatro {background-image: url(../img/nuestromenu/pizzas/rucula-y-parmesano.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#pizza-img-cinco {background-image: url(../img/nuestromenu/pizzas/pizzadecancha.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}



/* ---------Tipografias -----------*/
.palabras{ text-align: center;
padding:15px;
list-style-type: none;
font-size: 20px;
font-family: 'Dancing Script', cursive;
color: beige;
}


.text-lista {text-align: center;
padding:15px;
align-items: center;
font-size: 23px;
font-family: 'Dancing Script', cursive;
color: rgb(240, 198, 147);
}


p { text-align: start;
font-family: 'Open Sans', sans-serif;
text-transform: lowercase;
color: beige;
font-size: 15px;
padding-left: 10px;
padding-bottom: 5px;}



/* ---------------------- EMPANADAS-------------------------- */
#empanada-img-uno{background-image: url(../img/nuestromenu/empanadas/empanadas-1-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#empanada-img-dos{background-image: url(../img/nuestromenu/empanadas/empanadas-2-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

#empanada-img-tres{background-image: url(../img/nuestromenu/empanadas/empandas-3-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}


/* ---------------------- CALZONES-------------------------- */
.calzones {list-style: none;}
.calzones li {font-family: 'Dancing Script', cursive; 
font-size: 23px;
color: rgb(240, 198, 147);
padding: 10px;}
.calzones p {text-align: start;
font-family: 'Open Sans', sans-serif;
text-transform: lowercase;
color: beige;
font-size: 15px;
padding-left: 10px;
padding-bottom: 5px;}

.calzon-img-dos {background-image: url(../img/nuestromenu/calzones/calzonepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}



.calzon-img {background-image: url(../img/nuestromenu/calzones/portada-calzone-m.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

.calzon-img-final{background-image: url(../img/nuestromenu/calzones/Calzone-de-carne-picada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}

/* ---------------------- GASEOSAS -------------------------- */


#latas-img{background-image: url(../img/nuestromenu/gaseosas/latas-min.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
    
#mediolitro-img{background-image: url(../img/nuestromenu/gaseosas/medio-min.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
    
#litro-img{background-image: url(../img/nuestromenu/gaseosas/litro-min.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}

/* ---------------------- CERVEZAS-------------------------- */

#cerveza-img{background-image: url(../img/nuestromenu/cervezas/cerveszas-1-min.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
    
#cerveza-img-dos{background-image: url(../img/nuestromenu/cervezas/cervezas-2-min.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
    
#cerveza-img-tres{background-image: url(../img/nuestromenu/cervezas/cervezas-3-min.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ---------------------- POSTRES-------------------------- */


.postre-img {background-image: url(../img/nuestromenu/postres/helados-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

.bombon-img{background-image: url(../img/nuestromenu/postres/bombones-min.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}

/* ---------PIE DE PAGINA  -----------*/
@import "footer";


/* -------------------------------------------RESPONSIVE-------------------------------------------------*/
@media (min-width: 768px)  {
.pantalla-chica {display: none;}
}






/* ---------768px -----------*/

@media (max-width: 768px) {



    
.pantalla-grande {display: none;}
}