@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;1,500&display=swap');


//menu de navegacion 

@import "navbar";
.contenedor-menu { background-color: black}

.encabezado { padding: 150px;
text-align: center;
font-family: $font-titulos;
font-size: 25px;
color: $color-titulos;
background-image: url(../img/36.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

//cuerpo 


.reseñas { padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
background-color: black;}

.contenedor-opinion { padding-top: 60px;
padding-bottom: 60px ;}

.profile img {border-radius: 6rem;
width: fit-content;
height:auto;
max-width: 200px;
max-height:200px;}

.name { padding: 15px;
font-family: $font-titulos;
font-size: 25px;
color: $color-titulos ; }

.palabras{padding: 10px;
color: $color-textos ;}

.buttons{ padding: 10px;
a {text-decoration: none;}}

.star.active{ color: yellow}
.icon-share {color: beige}
.icon-share:hover {color: rgb(4, 79, 150)}
.icon-share.heart {color: rgb(185, 3, 3)}
//footer 
@import "footer";